#parent {
  background-color: rgba(209, 209, 209, 0.525);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.number {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  color: #ffffff;
}
.operations {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}
.heading {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
